* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF6B;
    width: 375px;
    height: 383px;
    border-radius: 5px;
}

.email, 
.senha,
.login {
    padding: 30px 30px 0px 30px;

}

.cadastro {
    text-decoration: none;
    color: #000000;
    font-size: 19px;
    position: relative;
    right: 90px;
    top: 20px;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
}

.input_email::placeholder {
    color: #000000;
}

.input_senha::placeholder {
    color: #000000;
}

.botao_login {
    width: 317px;
    height: 50px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    background: #000000;
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.input_email,
.input_senha {
    padding-left: 20px;
    background-color: #D9D9D9;
    width: 317px;
    height: 54px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    font-size: 20px;
}

.cadastro:hover {
    color: #111111;
    cursor: pointer;
}

.botao_login:active {
    background: #111111;
    transform: translateY(2px); 
}

.botao_login:hover {
    background: #111111;
    cursor: pointer;
}